body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 12%;
  background: lavender;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: midnightblue;
  color: white;
}

li a:hover:not(.active) {
  background: linear-gradient(to right, #cc0000 0%, #000000 100%);
  color: white;
}